{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.profile.is_activated %}
            <div class="display-1">
                Hello {{ user.username }}, what would you like to do?
            </div>
            <div class="card-row-measurements">
                <a href="{{ most_recent_url }}">
                    <div class="card measurement-card">
                        <div class="card-body">
                            <h5 class="card-title">
                                View My Most Recent Measurement
                            </h5>
                            <img class="card-image" src="{% static 'main/content/images/baseline-poll-24px.svg' %}">
                        </div>
                    </div>
                </a>
                <a href="{% url 'stats:stats_history' %}">
                    <div class="card measurement-card">
                        <div class="card-body">
                            <h5 class="card-title">
                                View My Measurement History
                            </h5>
                            <img class="card-image" src="{% static 'main/content/images/baseline-watch_later-24px.svg' %}">
                        </div>
                    </div>
                </a>

                <a href="{% url 'profiles:pin_settings' %}">
                    <div class="card measurement-card">
                        <div class="card-body">
                            <h5 class="card-title">
                                View My Pin Settings
                            </h5>
                            <img class="card-image" src="{% static 'main/content/images/baseline-settings-20px.svg' %}">
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="display-1">
                Your account is currently not activated.
            </div>
            <div class="display-3">
                Please wait until the site admin has activated your account.
            </div>
        {% endif %}
    {% else %}
        <div class="login-content">
            <div class="display-1">
                Welcome to the Resistor Bank Statistics website!
            </div>
            <div class="display-3">
                Please log in using your Missouri S&T email account.
            </div>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Click Here to Log In</a>
        </div>
    {% endif %}
{% endblock %}