{% extends 'main/base.html' %}
{% block content %}
    {% if not user.is_authenticated %}
        <p>
            Hello! Welcome to the Resistor Bank Statistic website.
            Please Log In to analyze your past measurements. When logging in,
            please choose the Google Account that pertains to your S&T email.
        </p>
        <p></p>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Log Into Website</a>
    {% else %}
        <p>Hello {{ user.username }}, here is a list of all you can do with our website!</p>
        <ul>
            <li>
                <p>View a history of all of your recorded measurements on the resistor bank.</p>
            </li>
            <li>
                <p>View more detailed info about a particular measurement.</p>
            </li>
            <li>
                <p>Export your data to Microsoft Excel or MatLab.</p>
            </li>
        </ul>
        <p>
            From the side-menu, you can access any page on our website any time you like.
            Also, to logout click the <b>Logout</b> text beside your username on the top bar.
        </p>
    {% endif %}
{% endblock %}