{% extends 'main/base.html' %}
{% block content %}
    {% if not user.is_authenticated %}
        <div>
            Hello! Welcome to the Resistor Bank Statistic website.
            Please Log In to analyze your past measurements. When logging in,
            please choose the Google Account that pertains to your S&T email.
        </div>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Log Into Website</a>
    {% else %}
        <div class="display-1">
            Hello {{ user.username }}, what would you like to do?
        </div>
        <div>
            From the side-menu, you can access any page on our website any time you like.
            Also, to logout click the <b>Logout</b> text beside your username on the top bar.
        </div>
    {% endif %}
{% endblock %}