{% extends 'main/base.html' %}
{% block content %}
    {% load crispy_forms_filters %}
    <div class="container-fluid">
        <div>
            <h1>Modify Permissions</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a class="btn btn-danger" href="{% url 'profiles:admin' %}">Cancel</a>
        </form>
    </div>
    <script type="text/javascript">
        let permission_label = document.getElementsByTagName('label')[0];
        permission_label.style.display = 'none';
    </script>
{% endblock %}