{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h1>{{ title }}</h1>
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="phase1-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                Phase 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="phase2-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                Phase 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="phase3-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                Phase 3
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="phase1-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                        <img id="1" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <img id="2" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <img id="3" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <img id="4" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <img id="5" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <img id="6" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <img id="7" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <img id="8" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <img id="9" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <img id="10" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <img id="11" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <img id="12" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <img id="13" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <img id="14" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <img id="15" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <img id="16" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="phase2-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                        <img id="17" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <img id="18" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <img id="19" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <img id="20" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <img id="21" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <img id="22" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <img id="23" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <img id="24" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <img id="25" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <img id="26" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <img id="27" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <img id="28" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <img id="29" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <img id="30" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <img id="31" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <img id="32" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="phase3-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                        <img id="33" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <img id="34" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <img id="35" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <img id="36" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <img id="37" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <img id="38" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <img id="39" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <img id="40" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <img id="41" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <img id="42" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <img id="43" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <img id="44" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <img id="45" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <img id="46" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <img id="47" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <img id="48" class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}" style="display: none">
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="hide_phase_forms">
            {{ phase_1_form }}
            {{ phase_2_form }}
            {{ phase_3_form }}
        </div>
        <button type="submit" class="btn btn-success">Save Pin Configurations</button>
        <a class="btn btn-danger" href="{% url 'index' %}">Back to Home Page</a>
    </form>
    <script type="text/javascript">
        let cards = document.getElementsByClassName('card');
        let checkboxes = document.getElementsByClassName('hide_phase_forms')[0].getElementsByTagName('input');
        let images = document.getElementsByTagName('img');

        let toggle_checkboxes = function () {
            let image = this.getElementsByTagName('img')[0];
            let image_id = parseInt(image.id);

            if (image.style.display === 'none') {
                image.style.display = 'block';
                checkboxes[image_id - 1].checked = true;
            } else {
                image.style.display = 'none';
                checkboxes[image_id - 1].checked = false;
            }
        };

        for (let k = 0; k < images.length; k++) {
            if (checkboxes[k].checked) {
                images[k].style.display = 'block';
            }
        }

        for (let k = 0; k < cards.length; k++) {
            cards[k].addEventListener('click', toggle_checkboxes, false);
        }
    </script>
{% endblock %}