{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h1>Pin Settings for {{user.username}}</h1>
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="phase1-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                Phase 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="phase2-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                Phase 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="phase3-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                Phase 3
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="phase1-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                        <img class="card-image" src="{% static 'main/content/images/baseline-check-24px.svg' %}">
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">
                        </h2>
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="phase2-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">
                        </h2>
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="phase3-tab">
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 1
                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 2
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 3
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 4
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 5
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 6
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 7
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 8
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 9
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 10
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 11
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                  </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 12
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">
                        </h2>
                    </div>
                  </div>
              </div>
              <div class="card-row-pins">
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 13
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 14
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                  <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 15
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
                <div class="card pin-card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Pin 16
                        </h2>
                        <h2 class="card-subtitle mb-2 text-muted">

                        </h2>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock %}