{% extends 'main/base.html' %}
{% block content %}
    {% load static %}
        <script type="text/javascript">
            $( document ).ready(function() {
                var options = {
                    title: {
                        display: true,
                        text: 'Average'
                    }
                }
                var data = {
                    labels: ['5', '10', '15', '20', '25', '30'],
                    datasets: [
                        {
                            label: "Site Registrations in the Last 30 Days",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [1, 2, 3, 4, 5, 6, 7]
                        }
                    ]
                };
                var ctx = document.getElementById("averageLineChart").getContext("2d");
                var averageLineChart = new Chart(ctx).Line(data);
            });
        </script>

        <div>
            <div class="measurements-row">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Voltage
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ voltage }}
                        </h2>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Current
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ current }}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="measurements-row">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Power
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ power }}
                        </h2>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Averages
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            <canvas id="averageLineChart" width="150" height="150"></canvas>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    <p></p>
    <a class="btn btn-danger" href="{% url 'stats:delete' stat_id=stat.pk %}">Delete Stat</a>
{% endblock %}
{#    </body>#}
{#</html>#}