{% extends 'main/base.html' %}
{% block content %}
    {% load static %}

    <div class="container-fluid">
        <div class="card-row">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Voltage
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ voltage }} V
                        </h2>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Current
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ current }} A
                        </h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Power
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted">
                            {{ power }} W
                        </h2>
                    </div>
                </div>
            </div>
        <div class="card-row">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">
                        Average Voltage
                    </h1>
                    <h2 class="card-subtitle mb-2 text-muted">
                        {{ avg_voltage }} V
                    </h2>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">
                        Average Current
                    </h1>
                    <h2 class="card-subtitle mb-2 text-muted">
                        {{ avg_current }} A
                    </h2>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">
                        Average Power
                    </h1>
                    <h2 class="card-subtitle mb-2 text-muted">
                        {{ avg_power }} W
                    </h2>
                </div>
            </div>
        </div>
        <div class="stat-view-delete">
            <a class="btn btn-danger" href="{% url 'stats:delete' stat_id=stat.pk %}">Delete This Stat</a>
        </div>
    </div>
{% endblock %}